
    <!--Services Banner Start-->
    	<section>
        	<div class="">
            	<img src="images/ourservices-painting.jpg" width="100%" height="100%"style="margin:110px auto;">
            </div>
        	<div class="container service-heading">
            	<div class="section-header">
                	<h2 class="section-title text-center wow fadeInDown" style="font-size:30px;">What We Do</h2>
            	</div>
                <div class="row service-row">
                	<div class="col-md-6 wow fadeInLeft">
               	    	<img src="images/wall-paniting.jpg" width="480" height="341" class="img-responsive img-center">
                    </div>
                    <div class="col-md-6 wow fadeInRight">
                    	<img src="images/house-painting.jpg" width="480" height="341" class="img-responsive img-center">
                    </div>
                </div>
                <div class="row service-row">
                	<div class="col-md-6 wow fadeInLeft">
               	    	<img src="images/wall-designs.jpg" width="480" height="341" class="img-responsive img-center">
                    </div>
                    <div class="col-md-6 wow fadeInRight">
                    	<img src="images/interior-painting.jpg" width="480" height="341" class="img-responsive img-center">
                    </div>
                </div>
                <div class="row service-row">
                	<div class="col-md-12 text-center">
                    	<p><strong>Minimum visiting charges - Rs 200. Additional cost if any will be charged after visiting and clear verification of the problem.<strong></p>
                    </div>
                </div>
                <div class="row service-row text-center">
                	<div class="text-center continue">
                		<a href="#/bookUserTmpl" target="_blank" class="btn btn-continue" ng-model="ServiceTypeRpa">Book Now</a>
            		</div>
                </div>
        	</div>
        </section>
    
	<!--Services Banner End-->
	