
    <!--Services Banner Start-->
    	<section>
        	<div class="">
            	<img src="images/ourservices-plumber.jpg" width="100%" height="100%">
            </div>
        	<div class="container service-heading">
            	<div class="section-header">
                	<h2 class="section-title text-center wow fadeInDown" style="font-size:30px;">What We Do</h2>
            	</div>
                <div class="row service-row">
                	<div class="col-md-6 wow fadeInLeft">
               	    	<img src="images/Leak-Detection.jpg" width="480" height="341" class="img-responsive img-center">
                    </div>
                    <div class="col-md-6 wow fadeInRight">
                    	<img src="images/shower-repair.jpg" width="480" height="341" class="img-responsive img-center">
                    </div>
                </div>
                <div class="row service-row">
                	<div class="col-md-6 wow fadeInLeft">
               	    	<img src="images/Faucet-repair.jpg" width="480" height="341" class="img-responsive img-center">
                    </div>
                    <div class="col-md-6 wow fadeInRight">
                    	<img src="images/Tap-repair-&-others.jpg" width="480" height="341" class="img-responsive img-center">
                    </div>
                </div>
                <div class="row service-row">
                	<div class="col-md-12 text-center">
                    	<Strong><p>Minimum visiting charges - Rs 200. Additional cost if any will be charged after visiting and clear verification of the problem.</p></Strong>
                    </div>
                </div>
                <div class="row service-row text-center">
                	<div class="text-center continue">
                		<a href="#/bookUserTmpl/plumber" target="_blank" class="btn btn-continue">Book Now</a>
            		</div>
                </div>
        	</div>
        </section>
    
	<!--Services Banner End-->
	